
.first-header{
    height: 54px;
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-hd-left{
    padding-left: 50px;
}
.first-hd-left span,.first-hd-left i{
    margin-left: 8px;
}
.first-hd-left i{
    color: #AB7442;
}
.first-hd-left span{
    color: black;
}
.first-hd-right{
    padding-right: 50px;
}
.first-hd-right span{
    margin-left: 8px;
    margin-right: 12px;
    color: black;
}
.first-hd-right i{
    margin-right: 0px;
    color: #AB7442;
}
#social{
    border: 1px solid white;
    background-color: white;
    padding: 10px;
}
.navigation{
    display: flex;
    /* background-color: #AB7442; */
    height: 80px;
    /* align-items: center; */
}
.nav-left{
    /* background-color: red; */
    height: 70px;
    width: 50%;
}
.nav-center{
    width: 39%;
    /* background-color: blue; */
    height: 60px;
}
.nav-left h2{
    font-weight: 700;
    margin-top: 18px;
    padding-left: 40px;
    color: #AB7442;
}
#home{
    color: #AB7442;
}
.nav-center li{
    margin-right: 20px;
    font-size: 17px;
}
.nav-center i{
    margin-left: 6px;
}
#get-qt{
    background-color: #AB7442;
    color: white;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
    padding: 25px;
}
.nav-center a{
    padding-top: 18px;
}
.nav-right{
    width: 11%;
    background-color: #AB7442;
    padding: 25px;
}
.nav-right a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.nav-right i{
    margin-left: 2px;
}
#left-arrow,#right-arrow{
    font-size: 45px;
    border: 2px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 19px;
    padding-right: 19px;
}
.carousel img{
    filter: brightness(40%);
}
.carousel{
    position: relative;
}
.crsl-text{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.crsl-text h5{
    color: white;
    font-weight: 700;
}
.crsl-text h1{
    color: white;
    font-size: 59px;
    font-weight: 600;
}
.crsl-text p{
    color: white;
    font-size: 20px;
}
.crsl-text a{
    text-decoration: none;
}
.crsl-text .btns{
    margin-top: 60px;
}
.rd-mr{
    background-color: #AB7442;
    color: white;
    padding: 20px 40px;
    margin-right: 10px;
}
.fr-qt{
    background-color: white;
    color: #000000;
    padding: 20px 40px;
}
.features{
   justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}
.ftr-one,.ftr-two,.ftr-three,.ftr-four{
    width: 20%;
    /* background-color: rgb(189, 127, 127); */
    /* height: 300px; */
    padding-top: 50px;
}
.features span{
    /* float: right; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color: #F5F5F5;
}
.ftr{
    display: flex;
    justify-content: space-between;
}
.features i{
    font-size: 38px;
    margin-top: 25px;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    padding: 10px;
    color: #AB7442;
}
.ftr-one div,.ftr-two div,.ftr-three div,.ftr-four div{
    font-weight: 700;
    margin-top: 20px;
    font-size: 20px;
}
.about{
    display: flex;
    margin-top: 70px;
}
.abt-left{
    /* background-color: #AB7442; */
    width: 50%;
}
.abt-left img{
    width: 100%;
}
.abt-right{
    background-color: #F5F5F5;
    width: 50%;
   
}
.abt-right h1{
    font-weight: 700;
    font-size: 50px;
    margin-top: 13%;
    margin-bottom: 3%;
    margin-left: 5%;
}
.abt-right p{
    margin-left: 5%;
    width: 85%;
    margin-bottom: 3%;
}
.hpyclint-maindiv{
    display: flex;
    gap: 150px;
    margin-left: 5%;
    margin-bottom: 50px;
}
.abt-right i{
    font-size: 45px;
    border: 1px solid #ffffff;
    background-color: white;
    padding: 10px;
    color: #AB7442;
}
.hpy-clint,.prjct-dn{
    display: flex;
    gap: 10px;
}
.abt-right h4{
    font-size: 35px;
    font-weight: 700;
    color: #AB7442;
}
.abt-right a{
    text-decoration: none;
    border: 1px solid #AB7442;
    background-color: #AB7442;
    padding:15px 50px;
    color: white;
    margin-left: 5%;
    font-size: 18px;
    transition: .5s;
}
.abt-right a:hover{
    color: white;
    background-color: #d79b62;
}
.servse{
    text-align: center;
    padding-top: 70px;
}
.servse h1{
    font-weight: 700;
    font-size: 50px;
}
.servse .card{
    margin-top: 70px;
    width: 28%;
    height: auto;
    border: 7px solid #F5F5F5;
    padding-bottom: 18px;
}
.servse img{
    transition: .5s;
    flex: 1;
}
.servse .card img:hover{
    transform: scale(1.1);
    flex: 1;
}
.servs-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.servse .card-tittle{
    font-weight: 700;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.servse .card-para{
    margin-bottom: 10px;
}
.servse .card a{
    text-decoration: none;
    color: #AB7442;
}
.servse .card i{
    margin-left: 7px;
}
.why-choos-left,.why-choos-right{
    width: 50%;
    
}
.why-choos{
    display: flex;
    background-color: #F5F5F5;
    margin-top: 110px;
}
.why-choos h1{
    font-weight: 700;
    margin-left: 5%;
    margin-top: 10%;
}
.why-choos p{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}
.why-choos-maindiv{
    display: flex;
}
.why-choos-subdiv{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.why-choos-subdiv i{
    font-size: 40px;
    color: #AB7442;
    background-color: white;
    padding: 7px;
}
#left{
    /* margin-right: 20%;*/
    margin-left: 10%;
    width: 40%;

}
.qty-text h4{
    font-weight: 700;
}
.why-choos-right img{
    width: 100%;
}
.prjct-head-nav{
    text-align: center;
    margin-top: 80px;
}
.our-projects h1{
    font-size: 50px;
    font-weight: 700;
}
.project-nav{
    margin-top:30px ;
}
.project-nav a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 18px;
}
.all{
    color: #AB7442;
    border-bottom: 2px solid #AB7442;
}
.our-projects .card{
    width: 450px;
    background-color: #F5F5F5;
    border: 5px solid #eaeaea;
    padding-bottom: 20px;
}
.our-projects img{
    transition: 0.5s;
}
.our-projects img:hover{
    transform: scale(1.1);
    flex: 1;
}
.prjct-card-text{
    color: #AB7442;
    margin-left: 5%;
    padding-top: 20px;
}
.prjct-card-para{
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    margin-left: 5%;
}
.project-lists{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.free-quote{
    margin-top: 80px;
    display: flex;
}
.qout-left,.qout-right{
    width: 50%;
    background-color: #eaeaea;
    /* height: 400px; */
}
.qout-left img{
    width: 100%;
}.qout-right h1{
    margin-left: 5%;
    font-weight: 700;
    margin-top: 10%;
    font-size: 50px;
}
.qout-right p{
    width: 80%;
    margin-left: 5%;
    margin-top: 3%;
    font-size: 17px
}
.qoute-form{
    margin-left: 5%;
}
.qoute-form input{
    border: none;
    padding: 17px;
    padding-right: 80px;
    margin-bottom: 14px;
}
#mail,#select{
    margin-left: 10px;
}
.qoute-form select{
    border: none;
    padding: 17px;
    padding-right: 131px;
}
.qoute-form textarea{
    border: none;
    padding: 9px;
    padding-right: 323px;
}
.qoute-form button{
    border: none;
    background-color: #AB7442;
    color: white;
    padding: 17px 260px;
    margin-top: 7px;
}
.tm-membrs{
    text-align: center;
    margin-top: 70px;
}
.tm-membrs h1{
    font-size: 50px;
    font-weight: 700;
}
.members img{
    width: 100%;
}
.members .card{
    width: 300px;
    padding-bottom: 20px;
    margin-top: 70px;
}
.members .card h4{
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
}
.members{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.testimonials{
    margin-top: 70px;
    text-align: center;
}
.testimonials h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}
.carousel-item img{
    width: 7%;
    text-align: center;
}
.footer{
    margin-top: 70px;
    width: 100%;
    height: auto;
    background-color: #2b2a2a;
    /* background-color: rgb(170, 132, 132); */
}
.footer .container{
    display: flex;
}
.footer-first,.footer-sec,.footer-third,.footer-four{
    width: 25%;
}
.footer h4{
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 20px;
    color: white;
}
.footer-first i,.footer-sec i,.footer-third i{
    margin-right: 10px;
}
.footer-first div,.footer-sec div,.footer-third div,.footer-four div{
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
    transition: .5s;
}
.footer-sec div:hover,.footer-third div:hover{
    letter-spacing: 1px;
    color: #AB7442;
}
#footer-social-link{
    color: white;
    padding: 9px;
    border: 1px solid white;
    margin-top: 10px;
    transition: .5s;
}
#footer-social-link:hover{
    background-color: white;
    color: #AB7442;
}
.footer-sec i,.footer-third i{
    font-weight: 700;
}
.footer-four input{
    padding: 13px;
    border: none;
}
.footer-four a{
    text-decoration: none;
    color: white;
    background-color: #AB7442;
    padding: 10px;
    padding-top: 9.5px;
    padding-bottom: 10.5px;
    border: 4px solid rgb(255, 255, 255);
}
.cpy-rgt{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #2b2a2a;
}
.just-line{
    width: 80%;
    border-bottom: 1px solid rgb(63, 63, 63);
    margin: auto;
    padding-top: 50px;
}
.cpy-rgt-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cpy-rgt div{
    color: white;
}
.cpy-rgt-text span{
    border-bottom: 1px solid white;
}
.cpy-rgt-text span:hover{
    color: #AB7442;
}
@media(min-width:300px) and (max-width:575.98px){
    .first-header{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .nav-left{
        width: 50%;
    }
    .nav-center{
        width: 50%;
    }
    #left-arrow,#right-arrow{
        border: none;
    }
    .features{
        display: inline;
        gap: 0;
        margin-top: 0;
    }
    .ftr-one,.ftr-two,.ftr-three,.ftr-four{
        /* background-color: red; */
        width:100%;
        padding-top: 0px;
        margin-top: 0px;
    }
    .features i{
        margin-top: 26px;
        margin-bottom: 0px;
    }
    .crsl-text{
        top: 50%;
    }
    .crsl-text h5{
        font-size: 5px;
    }
    .crsl-text h1{
        font-size: 19px;
    }
    .crsl-text p{
        font-size: 5px;
    }
    .crsl-text .btns{
        margin-top: 10px;
    }
    .rd-mr{
        padding: 5px 10px;
        margin-right: 5px;
        font-size: 10px;
    }
    .fr-qt{
        padding: 5px 10px;
        font-size: 10px;
    }
    .about{
        display: inline;
    }
    .abt-left{
        /* background-color: #AB7442; */
        width: 100%;
    }
    .abt-left img{
        margin-top: 40px;
    }
    .abt-right{
        width: 100%;
        padding-bottom: 30px;
    }
    .abt-right h1{
        font-size: 40px;
        padding-top: 10px;  
    }
    .abt-right p{
        font-size: 20px;
    }
    .hpyclint-maindiv{
        display: inline;
    }
    .abt-right i{
        font-size: 45px;
    }
    .hpy-clint,.prjct-dn{
        margin-top: 30px;
    }
    .prjct-dn{
        margin-bottom: 30px;
    }
    .servse h1{
        font-size: 30px;
    }
    .servse .card{
        width: 100%;
    }
   
    .servs-list{
        display: inline;
    }
    .servse .card-tittle{
        font-size: 25px;
    }
    .servse .card-para{
        font-size: 15px;
    }
    .why-choos-left,.why-choos-right{
        width: 100%;
    }
    .why-choos{
        display: inline;
    }
    .why-choos-maindiv{
        display: flex;
        /* display: inline; */
        margin-left: 0;
    }
    .why-choos-subdiv i{
        font-size: 30px;
        color: #AB7442;
        background-color: white;
        padding: 7px;
    }
    #left{
        /* margin-right: 20%;*/
        margin-left: 10%;
        width: 100%;
    }
    .qty-text h4{
        font-weight: 700;
        font-size: 15px;
    }
    .why-choos-right img{
        width: 100%;
    }
    .our-projects h1{
        font-size: 30px;
    }
    .project-nav a{
        font-size: 11px;
    }
    .our-projects .card{
        width: 100%;
        padding-bottom: 10px;
        margin-top: 20px;
    }
    .our-projects img{
        transition: 0.5s;
    }
    .prjct-card-text{
        font-size: 25px;
    }
    .prjct-card-para{
        font-size: 10px;
    }
    .project-lists{
        display: flex;
        display: inline;
    }
    .free-quote{
        padding-bottom: 20px;
        height: auto;
        display: inline;
    }
    .qout-left,.qout-right{
        width: 100%;
    }
    .qout-right h1{
        font-size: 30px;
    }
    .qout-right p{
        font-size: 15px
    }
    .qoute-form{
        margin-left: 0%;
    }
    .qoute-form input{
        padding: 11px;
        padding-right: 30px;
        margin-bottom: 14px;
        margin-left: 10px;
    }
    #mail,#select{
        margin-left: 10px;
    }
    .qoute-form select{
        padding: 11px;
        padding-right: 81px;
    }
    .qoute-form textarea{
        padding-right: 1%;
        margin-left: 10px;
        margin-top: 12px;
    }
    .qoute-form button{
        padding: 11px 87px;
        margin-top: 7px;
        margin-left: 10px;
    }
    .tm-membrs h1{
        font-size: 30px;
    }
    .members img{
        width: 100%;
    }
    .members .card{
        width: 100%;
        padding-bottom: 20px;
        margin-top: 70px;
    }
    .members .card h4{
        font-size: 20px;
    }
    .members{
        display: flex;
        display: inline;
    }
    .testimonials{
        margin-top: 70px;
        text-align: center;
    }
    .testimonials h1{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 50px;
    }


    .footer .container{
        display: inline;
    }
    .footer-first,.footer-sec,.footer-third,.footer-four{
        width: 100%;
        padding-left: 20px;
        margin-top: 30px;
    }
    .footer h4{
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 20px;
        color: white;
    }
    .footer-first i,.footer-sec i,.footer-third i{
        margin-right: 10px;
    }
    .footer-four input{
       padding-top: 5px;
       padding-bottom: 5px;
       padding-left: 10px;
        border: none;
    }
    .footer-four a{
        padding: 2px;
        font-size: 12px;
        padding-top: 6.1px;
        padding-bottom: 3.3px;
    }
    .cpy-rgt-text{
        display: flex;
        display: inline;
        text-align: center;
        margin-top: 10px;
        font-size: 10px;
    }
    .cpy-rgt div{
        color: white;
    }
    .cpy-rgt-text span{
        border-bottom: 1px solid white;
    }
}